
.modal-content {
    background: #F7F3EB;
    font-family: var(--font-family);
}

.modal__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: var(--font-family);
}

.appointment-duration {
    width: 258.91px;
    margin: 2rem 0;
}

.date-time-picker {
    margin-bottom: 1rem;
}

.patient-name {
    display: flex;
    flex-direction: row;

    /* border: 1px solid black; */
    width: 258.91px;
}

.patient-name p {
    padding: 0.5rem;
}

.patient-name p:first-child {
    font-weight: bold;
}

.delete-button {
    background: #F7F3EB;
    color: #d11a2a;
    border: 1px solid #d11a2a;
}

.delete-button:hover {
    background: #d11a2a;
    color: #fff;
    border: 1px solid #d11a2a;
}

.save-button {
    background: #F7F3EB;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    margin-left: 10px;
}

.save-button:hover {
    background: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
}

.foot {
    display: flex;
    justify-content: space-between;
}