* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.profile__page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__page-content__title p {
    margin: 1rem auto;
    font-size: 50px;
    letter-spacing: 5px;
    font-family: var(--font-family);
}

.profile__page-content__image {
    position: relative;
    z-index: 100;
}

#image__avatar {
    width: 150px;
    height: 150px;
}


#image__icon {
    position: absolute;
    top: 100px;
    left: 110px;
    background-color: var(--primary-color);
}


.profile__page-content__info {
    max-width: 500px;
    margin: 0 auto;
    border-radius: 26px;
    padding: 4rem 3rem;
    transform: translateY(-20%);
    background: #F7F3EB;
    box-shadow: 18px 18px 55px #9499a8, -18px -18px 55px #ffffff;
}

.user__label,
.user__info {
    font-family: var(--font-family) !important;
    font-size: 18px !important;
}

.user__label {
    font-weight: bold !important;
}


@media screen and (max-width: 550px) {

    .profile__page-content__title p {
        font-size: 45px;
    }

    #image__avatar {
        height: 120px;
        width: 120px;
    }

    #image__icon {
        top: 75px;
        left: 85px;
    }

    .user__label,
    .user__info {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 475px ) {
    .profile__page-content__title p {
        font-size: 40px;
    }

    .profile__page-content__info {
        padding: 3.5rem 2.5rem;
    }

    .user__label,
    .user__info {
        font-size: 12px !important;
    }

}

@media screen and (max-width: 420px ) {
    .profile__page-content__title p {
        font-size: 30px;
    }

    #image__avatar {
        height: 90px;
        width: 90px;
    }

    .profile__page-content__info {
        transform: translateY(-10%);
        padding: 2rem 1rem;
    }

    #image__icon {
        top: 55px;
        left: 65px;
        padding: 6px;
    }

    .user__label,
    .user__info {
        font-size: 10px !important;
    }

}